.settings {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .settings__title {
    font-family: "HelveticaNeue-Bold";
    text-align: center;
    font-size: 16px;
    margin-bottom: 96px;
  }

  .settings__container {
    width: 100%;
    .settings__containerOption {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      .settings__option {
        margin-bottom: 14px;
        font-size: 16px;
      }
    }
    :hover p {
      color: #1045ff;
    }
  }
}
.modal {
  width: 100%;
  top: 90px;
  max-height: calc(100vh - 215px);
  overflow-y: scroll;
  position: absolute;
  background-color: rgba(24, 24, 24, 0.966);
  padding: 25px 20px;
  margin: 0px 15px 50px;
  display: flex;
  flex-direction: column;
  .modal__close {
    width: 16px;
    height: 16px;
    align-self: flex-end;
    box-sizing: content-box;
    // padding: 10px 20px;

    &:hover {
      path {
        fill: #1045ff;
      }
    }
  }
  .modal__title {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }
  .modal__description {
    font-size: 16px;
  }
  &::-webkit-scrollbar {
    width: 15px; /* Ancho de la barra de desplazamiento */
    background-color: #f5f5f5; /* Color de fondo de la barra de desplazamiento */
  }
  /* Personaliza el mango de la barra de desplazamiento */
  &::-webkit-scrollbar-thumb {
    background-color: #555; /* Color del mango */
    border-radius: 5px; /* Bordes redondeados */
  }

  /* Personaliza la parte superior e inferior de la barra de desplazamiento */
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Color de fondo de la pista */
  }
}
@media (min-width: 769px) {
  .settings {
    padding-top: 150px;
    // align-items: flex-start;
    .settings__title {
      font-size: 24px;
      margin-bottom: 96px;
    }

    .settings__container {
      width: 100%;
      max-width: 500px;
      align-self: center;
    }
  }
  .modal {
    width: 90%;
    top: 150px;
  }
}
