<div class="settings">
  <h1 class="settings__title">SETTINGS</h1>
  <div class="settings__container">
    <div class="settings__containerOption" (click)="logOut()">
      <p class="settings__option">Sign out</p>
      <p>></p>
    </div>
    <!-- <div class="settings__containerOption">
      <p class="settings__option">Email adress</p>
      <p>></p>
    </div>
    <div class="settings__containerOption">
      <p class="settings__option">Change password</p>
      <p>></p>
    </div> -->
    <div class="settings__containerOption">
      <p class="settings__option">Privacy policy</p>
      <p>></p>
    </div>
    <div class="settings__containerOption">
      <p class="settings__option">Terms of use</p>
      <p>></p>
    </div>
  </div>
</div>
