<div class="scene">
  <div
    class="card"
    (mousedown)="onMouseDown($event)"
    [ngClass]="isBack && idTvShowSelected === tvShow.id ? 'rotate' : ''"
  >
    <!-- [ngClass]="isBack && idTvShowSelected === tvShow.id ? '' : 'is-front'" -->
    <!-- ----------------FRONT FACE OF CARD----------------- -->
    <div class="card__face card__face--front">
      <img
        class="card__img"
        src="https://image.tmdb.org/t/p/w500{{ tvShow.poster_path }}"
        alt=""
      />
    </div>
    <!-- ----------------BACK FACE OF CARD----------------- -->
    <div class="card__face card__face--back">
      <div class="card__container">
        <h4 class="card__title">{{ tvShow.name }}</h4>

        <div class="actions">
          <img
            class="action__icon"
            src="../../../../../assets/icons/play-trailer.svg"
            alt=" icon More Details"
          />

          <div class="actions__container">
            <img
              class="action__icon"
              src="../../../../../assets/icons/more-ico.svg"
              alt=" icon More Details"
            />
            <img
              class="action__icon"
              src="../../../../../assets/icons/like.svg"
              alt=" icon More Details"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
