<section class="login">
  <!-- <h2 class="logo">SERIAL</h2> -->
  <div class="login__container">
    <ng-container *ngIf="!success">
      <h2 class="login__title">Sign up</h2>
      <p class="login__extras" (click)="toogleLogin('login')">
        Already have an account? <span class="login__extrasSpan">LOG IN</span>
      </p>
      <form
        class="form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
      >
        <div class="form__containerInputs">
          <div class="form__containerEmail">
            <input
              class="form__inputEmail"
              type="text"
              placeholder="Username or E-mail"
              formControlName="email"
              autocomplete="off"
              (ngModelChange)="changeInput()"
            />
            <div
              class="invalidEmail"
              *ngIf="messageError === messageErrorEmail"
            >
              <p class="invalidForm__text">
                {{ messageError }}
              </p>
            </div>
            <div class="invalidEmail" *ngIf="invalidForm">
              <div
                class="invalidForm__text"
                *ngIf="form.get('email')?.hasError('required')"
              >
                E-mail is required
              </div>
              <div
                class="invalidForm__text"
                *ngIf="
                  form.get('email')?.hasError('email') ||
                  form.get('email')?.hasError('pattern')
                "
              >
                Invalid E-mail
              </div>
            </div>
          </div>
          <div class="form__containerPass">
            <input
              class="form__inputPass"
              type="password"
              id="password"
              formControlName="password"
              autocomplete="off"
              (ngModelChange)="changeInput()"
            />
            <img
              (click)="changeType()"
              class="form__PassIco"
              src="../../../../../assets/icons/eye-hide-filled.svg"
              alt="Icon eye - see password"
            />

            <div class="invalidForm" *ngIf="invalidForm">
              <div
                class="invalidForm__text"
                *ngIf="form.get('password')?.hasError('required')"
              >
                Password is required
              </div>
              <div
                class="invalidForm__text"
                *ngIf="form.get('password')?.hasError('minlength')"
              >
                Password must be at least 6 characters long
              </div>
              <div
                class="invalidForm__text"
                *ngIf="form.get('password')?.hasError('invalidPassword')"
              >
                Password must contain at least one uppercase letter and one
                number
              </div>
            </div>
          </div>
          <div class="form__containerPass">
            <input
              class="form__inputPass"
              type="password"
              name="password2"
              id="password2"
              autocomplete="off"
              formControlName="password2"
              (ngModelChange)="changeInput()"
            />
            <div class="invalidForm" *ngIf="notEqualPass">
              <div class="invalidForm__text">Check Passwords</div>
            </div>
          </div>
          <div class="form__containerRememberMe">
            <input
              class="form__inputRememberMe"
              type="checkbox"
              name="rememberMe"
              id="rememberMe"
            />
            <label class="form__rememberMeLabel" for="rememberMe"
              >Remember me</label
            >
          </div>
        </div>
        <button class="form__submit" type="submit">CONTINUE</button>
      </form>
      <p class="login__or">or</p>
      <div class="googleBtn">
        <label class="googleBtn__label" for="logGoogle"
          ><img
            class="googleBtn__img"
            src="../../../../../assets/icons/google.svg"
            alt="Icon of Google"
        /></label>
        <button
          id="logGoogle"
          class="googleBtn__btn"
          (click)="signUpWithGoogle()"
        >
          SIGN IN WITH GOOGLE
        </button>
      </div>
      <p class="login__notNow" (click)="toogleLogin('preLogin')">NOT NOW</p>
    </ng-container>
    <div class="success" [ngClass]="success ? 'show' : 'notShow'">
      <div class="success__container">
        <img
          src="../../../../../assets/icons/check-circle.svg"
          alt="Icon Success log in"
        />
      </div>
      <h2 class="success__title">Welcome!</h2>
    </div>
  </div>
</section>
