.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin-top: 158px;
    .login__title {
      font-family: "HelveticaNeue-Bold";
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 21px;
      align-self: flex-start;
    }
    .login__extras {
      padding: 5px 0;
      cursor: pointer;
      font-size: 16px;
      align-self: flex-start;
      font-family: "HelveticaNeue-Thin";
      .login__extrasSpan {
        font-family: "HelveticaNeue-Bold";
        padding-left: 5px;
      }
    }
    .login__or {
      font-size: 14px;
      font-family: "HelveticaNeue-Bold";
      margin: 22px 0;
    }

    .login__notNow {
      font-weight: 600;
      font-size: 14px;
      font-family: "HelveticaNeue-Bold";
    }
  }
}
.googleBtn {
  position: relative;
  width: 180%;
  .googleBtn__label {
    position: absolute;
    top: 12px;
    left: calc(50% - 115px);
    .googleBtn__img {
      width: 22px;
    }
  }

  .googleBtn__btn {
    cursor: pointer;

    margin-bottom: 15px;

    width: 100%;

    font-family: "HelveticaNeue-Bold";
    font-weight: 700;
    font-size: 14px;
    height: 45px;
    background-color: white;
    color: black;
    border: none;
  }
}
.form {
  margin-top: 72px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form__containerInputs {
    width: 240px;
    .form__containerEmail {
      margin-bottom: 12px;
      position: relative;
      width: 100%;
      .form__inputEmail {
        width: 100%;
        height: 30px;
        background: #ffffff;
        // border: 4px solid #ffffff;
        background-color: #fff;
        outline: #506cff;
        color: black;
        padding-left: 26px;
      }
    }
    .form__containerPass {
      width: 100%;
      margin-bottom: 12px;
      position: relative;
      .form__inputPass {
        width: 100%;
        height: 30px;
        background: #ffffff;
        border: 4px solid #ffffff;
        background-color: #fff;
        outline: #506cff;
        color: black;
        padding-left: 26px;
      }
      .form__PassIco {
        position: absolute;
        box-sizing: content-box;
        width: 24px;
        top: 0;
        right: -35px;
        padding: 4px;
      }
    }
    .form__containerRememberMe {
      align-self: flex-start;
      display: flex;
      align-items: center;
      .form__inputRememberMe {
        background-color: black;
      }
      .form__rememberMeLabel {
        padding-left: 7px;
        font-family: "HelveticaNeue-Thin";
        font-size: 14px;
      }
    }
  }
  .form__submit {
    width: 180%;
    cursor: pointer;
    margin-top: 18px;
    font-family: "HelveticaNeue-Bold";
    font-weight: 700;
    font-size: 14px;
    height: 45px;
    background: #ddff7c;
    color: black;
    border: none;
  }
}
.invalidForm,
.invalidEmail {
  display: block;
  margin-top: 5px;
  .invalidForm__text {
    color: rgb(253, 81, 81);
    margin-bottom: 5px;
  }
}
.invalidEmail {
  position: absolute;
  top: -22px;
  left: 0;
  margin-top: 0;
}
.success {
  flex-direction: column;
  align-items: center;
  transition: all 0.3s linear;
  .success__title {
    font-size: 32px;
    margin-bottom: 89px;
  }
  .success__container {
    width: 288px;
    height: 288px;
  }
}
.show {
  display: flex;
  opacity: 1;
}
.notShow {
  opacity: 0;
  display: none;
}
