.mainContainer {
  width: 100%;
  // height: 100%;
  padding-top: 53px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .mainContainer__title {
    font-family: "HelveticaNeue-Bold";
    text-align: center;
    font-size: 16px;
  }
}

.details {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 45px;
  width: 100%;
  .details__saveNew {
    cursor: pointer;
    position: absolute;
    top: -84px;
    right: 0;
    color: #ddff7c;
    font-size: 16px;
    padding: 10px 0 10px 10px;
  }
  .details__imgContainer {
    position: relative;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;

    .details__img {
      width: 102px;
      height: 156px;
    }
    .details__warapperImgs {
      width: 103px;
      height: 157px;
    }
    .details__img--multiple {
      width: 51px;
      height: 78px;
    }
    .details__iconsContainer {
      position: absolute;
      top: -13px;
      width: 100%;
      display: flex;
      justify-content: center;
      -moz-column-gap: 26px;
      column-gap: 26px;
      .details__iconWrapper {
        width: 26px;
        height: 26px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .details__imgIcons {
          width: 10px;
        }
      }
      .details__iconWrapper--blue {
        background-color: #506cff;
        .details__imgIcons {
          g,
          path {
            fill: white;
          }
        }
      }
    }
  }
  .details__infoContainer {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .details__infoTitle {
      font-size: 16px;
      font-family: "HelveticaNeue-Bold";
      margin-bottom: 10px;
    }
    .details__infoDescription {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
.newList {
  display: flex;
  flex-direction: column;
  align-items: center;
  .newList__name,
  .newList__description {
    height: 32px;
    background-color: transparent;
    border: dotted 1px white;
    &:focus-visible {
      border-color: #ddff7c;
    }
    &:active {
      border-color: #ddff7c;
    }
  }
  .newList__name {
    max-width: 130px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .newList__description {
    max-width: 180px;
    padding: 0 15px;
  }
  .newList__alert {
    margin-top: 10px;
    font-size: 14px;
    font-family: "HelveticaNeue-Thin";
    color: rgb(253, 81, 81);
    letter-spacing: 0.8px;
  }
}
.list__iconsContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  align-items: center;
  .list__icon {
    box-sizing: content-box;
    padding: 8px 5px;
    height: 20px;
  }
  .list__icon--eye {
    height: 28px;
    padding-left: 0;
  }
}

// ---------------SEARCHER--------------------
.searcherContainer {
  width: 100%;
  height: 32px;
  border-bottom: solid white 1px;
  display: flex;
  justify-content: space-between;
  .searcherContainer__iconsContainer {
    width: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .searcherContainer__icon {
      height: 31px;
    }
    .searcherContainer__icon--block {
      height: 20px;
      margin-top: 6px;
      margin-bottom: 5px;
    }
    .searcherContainer__icon--list {
      margin-top: 3px;
    }
  }
}
.searcher {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  max-width: calc(100% - 65px);
  height: 100%;
  background: #000;
  //   border: 1px solid #000000;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.searcher__ico {
  width: 20px;
  background-color: #000;
  padding-bottom: 2px; /*se suma 2px al height y se le da un padding bottom de 2px para corregir alineacion, mas centrada con respecto al input*/

  margin-right: 16px;
  cursor: pointer;
}
.searcher__containerInput {
  position: relative;
  width: calc(100% - 37px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.searcher__input {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 16px;

  background-color: transparent;
  color: white;
  border: 0;
  outline: none;
}

.searcher__input:-webkit-autofill,
.searcher__input:-webkit-autofill:hover,
.searcher__input:-webkit-autofill:focus,
.searcher__input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #0f1627 inset !important;
}
.searcher__input:-webkit-autofill {
  -webkit-text-fill-color: #000000 !important;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
  .gallery__link {
    .gallery__img {
      width: 100px;
      height: 155px;
    }
  }
}
.galleryList__link {
  width: 100%;
  height: 120px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  border-bottom: solid 1px white;
  .galleryList__img {
    height: 90px;
    width: 60px;
  }
  .galleryList__dataContainer {
    margin-left: 20px;
    .galleryList__title {
      font-size: 16px;
      margin-bottom: 12px;
    }
    .galleryList__iconsContainer {
      display: flex;
      align-items: center;
      gap: 20px;
      .galleryList__iconWrapper {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .galleryList__icon {
          height: 18px;
        }
      }
      .galleryList__iconWrapper--selected {
        background-color: #506cff;
        path {
          fill: white;
        }
      }
    }
  }
}
@media (min-width: 769px) {
  .mainContainer {
    padding-top: 150px;
    padding-left: 50%;
    .mainContainer__title {
      display: none;
    }
  }

  .details {
    width: 50%;
    height: calc(100vh - 150px);
    position: fixed;
    top: 150px;
    left: 0;
    padding: 0 60px 0 60px;

    margin-top: 0;
    margin-bottom: 0;

    .details__saveNew {
      display: inline-flex;

      z-index: 10;
      top: calc(50% - 170px);
      right: 56px;
      font-size: 22px;
      border-radius: 3px;
      padding: 20px 40px;
      transition: all 0.2s linear;
      &:hover {
        background-color: #131313e5;
      }
    }

    .details__imgContainer {
      position: relative;
      margin-right: 30px;
      .details__img {
        width: 200px;
        height: 300px;
      }
      .details__warapperImgs {
        width: 200px;
        height: 300px;
      }
      .details__img--multiple {
        width: 100px;
        height: 150px;
      }
      .details__iconsContainer {
        top: -25px;
        .details__iconWrapper {
          width: 50px;
          height: 50px;
          .details__imgIcons {
            width: 20px;
          }
        }
      }
    }
    .details__infoContainer {
      .details__infoTitle {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .details__infoDescription {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
  }

  .newList {
    position: relative;
    .newList__name,
    .newList__description {
      height: 45px;
      border: solid 1px white;
      &:focus-visible {
        border-color: #ddff7c;
      }
      &:active {
        border-color: #ddff7c;
      }
    }
    .newList__name {
      width: 250px;
      max-width: 250px;
      padding: 0 20px;
      margin-bottom: 20px;
      font-size: 22px;
    }
    .newList__description {
      width: 250px;
      max-width: 250px;
      padding: 0 20px;
      font-size: 22px;
    }
    .newList__alert {
      position: absolute;
      bottom: -60px;
      left: 0;
      font-family: "HelveticaNeue";
      font-size: 20px;

      letter-spacing: 0.8px;
    }
  }

  // ---------------SEARCHER--------------------
  .searcher__input {
    font-size: 20px;
  }
  .searcherContainer {
    height: 40px;

    .searcherContainer__iconsContainer {
      width: 65px;

      .searcherContainer__icon {
        height: 44px;
      }
      .searcherContainer__icon--block {
        height: 30px;
        margin-top: 2px;
      }
      .searcherContainer__icon--list {
        margin-top: 3px;
      }
    }
  }
  .searcher__ico {
    width: 31px;
  }
  .gallery {
    margin-top: 30px;
    gap: 15px;
    .gallery__link {
      .gallery__img {
        width: 100px;
        height: 155px;
      }
    }
  }
  .galleryList__link {
    width: 255px;
    height: 160px;
    padding: 15px 10px;
    border: solid 1px white;
    .galleryList__img {
      height: 120px;
      width: 80px;
    }
    .galleryList__dataContainer {
      .galleryList__title {
        font-size: 20px;
        margin-bottom: 15px;
      }
      .galleryList__iconsContainer {
        gap: 20px;
        .galleryList__iconWrapper {
          width: 40px;
          height: 40px;
          .galleryList__icon {
            height: 22px;
          }
        }
      }
    }
  }
}
