.userLayout {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 0 28px;
  position: relative;

  .userLayout__logo {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 46px;
    left: 28px;
    z-index: 100;
    // width: 105px;
  }
  .userLayout__logo--complete {
    cursor: pointer;
    position: fixed;
    display: none;
    top: 50px;
    left: 60px;
    width: 320px;
    z-index: 100;
  }
  .userLayout__navbar {
    display: block;
    position: fixed;
    bottom: 48px;
    left: 0;
    width: 100%;
  }
  .userLayout__navbar--desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .userLayout {
    width: 100%;
    overflow-y: scroll;
    height: auto;
    padding: 0 60px;
    .userLayout__logo {
      display: none;
    }
    .userLayout__logo--complete {
      display: inline-flex;
      top: 50px;
      left: 60px;
      width: 320px;
    }
    .userLayout__navbar {
      display: none;
    }
    .userLayout__navbar--desktop {
      display: block;
      height: 48px;
      position: fixed;
      top: 50px;
      left: auto;
      right: 32px;
      width: 100%;
      max-width: 440px;
    }
  }
}
