<div class="userLayout">
  <img
    class="userLayout__logo"
    src="../../../../../assets/icons/S-whit-spotlight.svg"
    alt="Logo Serial app"
    routerLink="./home"
  />
  <img
    class="userLayout__logo--complete"
    src="../../../../../assets/images/LogoSerial.png"
    alt="Logo Serial app"
    routerLink="./home"
  />

  <router-outlet></router-outlet>

  <app-navbar class="userLayout__navbar"></app-navbar>
  <app-navbar-desktop class="userLayout__navbar--desktop"></app-navbar-desktop>
</div>
