<section class="main">
  <div
    class="main__videoContainer"
    [ngClass]="backVideo ? 'main__videoContainer--show' : ''"
  >
    <video #videoHome autoplay loop muted class="main__video">
      <source src="../../../../../assets/videos/1899.mp4" type="video/mp4" />
    </video>
  </div>
  <div
    class="main__LightBackground"
    [ngClass]="login || register ? 'main__LightBackground--expanse' : ''"
  >
    <div class="main__clipPath"></div>
  </div>
  <div
    class="logoContainer"
    [ngClass]="restWord ? 'logoContainer--expanse' : ''"
  >
    <div class="logoContainer__letter">
      <h2
        class="logoContainer__letterS"
        [ngClass]="letterS ? 'logoContainer__letterS--show' : ''"
      >
        S
      </h2>
      <img
        class="logoContainer__spotLight"
        [ngClass]="{
          spotLightExpanse: spotLight,
          logoContainer__spotLightLowOpacity: login || register
        }"
        src="../../../../../assets/icons/spotlight-blue3.svg"
        alt="SpotLight"
      />
    </div>
    <h2
      class="logoContainer__word"
      [ngClass]="endWord ? 'logoContainer__word--show' : ''"
    >
      ERIAL
    </h2>
  </div>

  <!-- ----------------SECCION PRE-LOGIN------------------- -->

  <div
    class="prelogin"
    *ngIf="preLogin"
    [ngClass]="preLoginPhrase ? 'visible' : 'invisible'"
  >
    <!-- <img class="prelogin__logo" src="" alt="" /> -->

    <section class="prelogin__titlesContainer">
      <!-- <h1 class="prelogin__title">
        SHED SOME LIGHT OVER YOUR FAVORITE TV SHOWS
        <img
          class="prelogin__img"
          src="../../../../../assets/icons/spotlight-blue-Great.svg"
          alt=""
        />
      </h1> -->
      <img
        class="prelogin__titleImg"
        src="../../../../../assets/images/shed-light.svg"
        alt="SHED SOME LIGHT OVER YOUR FAVORITE TV SHOWS"
      />
    </section>
    <section
      class="prelogin__btnContainer"
      [ngClass]="visible ? 'visible' : 'invisible'"
    >
      <button class="prelogin__btn" (click)="toogleLogin('register')">
        SIGN UP FOR FREE
      </button>

      <a class="prelogin__already" (click)="toogleLogin('login')">
        <span class="prelogin__alreadyLight">Are you registered?</span>
        Log In
      </a>
    </section>
  </div>

  <!-- -----------SECCION LOGIN---------------- -->

  <section class="login" *ngIf="login">
    <div class="login__container">
      <ng-container *ngIf="!success">
        <h2 class="login__title">Log in</h2>
        <p class="login__extras" (click)="toogleLogin('register')">
          Don’t have an account? <span class="login__extrasSpan">SIGN UP</span>
        </p>
        <p class="login__extras">
          Forgot something? <span class="login__extrasSpan">RECOVER ID</span>
        </p>
        <form
          class="form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
        >
          <div class="form__containerInputs">
            <div class="form__containerEmail">
              <input
                class="form__inputEmail"
                type="text"
                placeholder="Username or E-mail"
                formControlName="email"
                autocomplete="off"
                (ngModelChange)="changeInput()"
              />
              <div
                class="invalidEmail"
                *ngIf="messageError === messageErrorEmail"
              >
                <p class="invalidForm__text">
                  {{ messageError }}
                </p>
              </div>
              <div class="invalidEmail" *ngIf="invalidForm">
                <p
                  class="invalidForm__text"
                  *ngIf="form.get('email')?.hasError('required')"
                >
                  E-mail is required
                </p>
                <p
                  class="invalidForm__text"
                  *ngIf="
                    form.get('email')?.hasError('email') ||
                    form.get('email')?.hasError('pattern')
                  "
                >
                  Invalid E-mail
                </p>
              </div>
            </div>
            <div class="form__containerPass">
              <input
                class="form__inputPass"
                type="password"
                id="password"
                formControlName="password"
                autoComplete="new-password"
                (ngModelChange)="changeInput()"
              />
              <img
                (click)="changeType()"
                class="form__PassIco"
                src="../../../../../assets/icons/eye-hide-filled.svg"
                alt="Icon eye - see password"
              />
              <div
                class="invalidForm"
                *ngIf="messageError === messageErrorPassword"
              >
                <p class="invalidForm__text">
                  {{ messageError }}
                </p>
              </div>
              <div class="invalidForm" *ngIf="invalidForm">
                <p
                  class="invalidForm__text"
                  *ngIf="form.get('password')?.hasError('required')"
                >
                  Password is required
                </p>
                <p
                  class="invalidForm__text"
                  *ngIf="
                    form.get('password')?.hasError('minlength') &&
                    !form.get('password')?.hasError('required')
                  "
                >
                  Password must be at least 6 characters long
                </p>
                <p
                  class="invalidForm__text"
                  *ngIf="
                    form.get('password')?.hasError('invalidPassword') &&
                    !form.get('password')?.hasError('required')
                  "
                >
                  Password must contain at least one uppercase letter and one
                  number
                </p>
              </div>
            </div>

            <div class="form__containerRememberMe">
              <input
                class="form__inputRememberMe"
                type="checkbox"
                name="rememberMe"
                id="rememberMe"
              />
              <label class="form__rememberMeLabel" for="rememberMe"
                >Remember me</label
              >
            </div>
          </div>

          <button class="form__submit" type="submit">CONTINUE</button>
        </form>
        <p class="login__or">or</p>
        <div class="googleBtn">
          <label class="googleBtn__label" for="logGoogle"
            ><img
              class="googleBtn__img"
              src="../../../../../assets/icons/google.svg"
              alt="Icon of Google"
          /></label>
          <button
            id="logGoogle"
            class="googleBtn__btn"
            (click)="signUpWithGoogle()"
          >
            LOG IN WITH GOOGLE
          </button>
        </div>
        <p class="login__notNow" (click)="toogleLogin('preLogin')">NOT NOW</p>
      </ng-container>
      <div class="success" [ngClass]="success ? 'show' : 'notShow'">
        <div class="success__container">
          <img
            src="../../../../../assets/icons/check-circle.svg"
            alt="Icon Success log in"
          />
        </div>
        <h2 class="success__title">Welcome!</h2>
      </div>
    </div>
  </section>
  <app-register
    *ngIf="register"
    (goPreLogin)="toogleLogin('preLogin')"
    (goLogin)="toogleLogin('login')"
  ></app-register>
</section>
