.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 51px 34px 70px;

  .main__videoContainer {
    opacity: 0;
    transition: all 1.2s linear;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .main__video {
      height: 135%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
  }
  .main__videoContainer--show {
    opacity: 1;
  }
  .main__LightBackground {
    opacity: 0.1;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-height: 0%;
    margin-top: 62px;
    transition: all 2s ease;
    overflow: hidden;
    .main__clipPath {
      width: 100vw;
      height: calc(100vh - 62px);
      clip-path: polygon(61px 0, 100% 38%, 100% 100%, 0 100%, 0 24%);
      background-color: rgba(16, 69, 255, 0.5);
    }
  }
  .main__LightBackground--expanse {
    opacity: 1;
    max-height: 100%;
  }
}

.logoContainer {
  width: 100%;
  height: 56px;
  max-width: 59px;
  overflow: hidden;
  display: inline-flex;

  position: relative;
  top: calc(50% - 28px - 21px);
  left: calc(50% - 29px);
  .logoContainer__letter {
    position: relative;
    .logoContainer__letterS {
      width: 38px;
      position: relative;
      margin-right: 3px;
      z-index: 5;
      opacity: 0;
      transition: all 0.3s linear;
      font-family: "AkiraExpanded";
      font-size: 40px;
      letter-spacing: 1.4px;
    }
    .logoContainer__letterS--show {
      opacity: 1;
    }
    .logoContainer__spotLight {
      // width: 40px;
      position: absolute;
      height: 26px;
      width: 58px;
      top: 18px;
      right: -17px;
      z-index: 3;
      opacity: 0;
      transition: all 1s linear;
    }
    .spotLightExpanse {
      opacity: 1;
    }
    .logoContainer__spotLightLowOpacity {
      opacity: 0;
    }
  }
  .logoContainer__word {
    // display: none;
    opacity: 0;
    position: relative;
    font-family: "AkiraExpanded";
    font-size: 40px;
    letter-spacing: 1.4px;
    z-index: 1;
    transition: all 1s linear;
  }
  .logoContainer__word--show {
    // display: flex;
    opacity: 1;
  }
}
.logoContainer--expanse {
  animation: expanse 2s linear forwards;
}
@keyframes expanse {
  0% {
    max-width: 59px;
    top: calc(50% - 28px - 21px);
    left: calc(50% - 29px);
  }
  25% {
    max-width: 59px;
    top: calc(50% - 28px - 21px);
    left: 0px;
  }
  75% {
    max-width: 342px;
    top: calc(50% - 28px - 21px);
    left: 0px;
  }
  100% {
    max-width: 342px;
    top: 0px;
    left: 0px;
  }
}
.logo {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}
.prelogin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s linear;

  .prelogin__titlesContainer {
    padding-top: 125px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    .prelogin__titleImg {
      width: 233px;
    }

    .prelogin__title {
      width: 275px;
      position: relative;
      z-index: 5;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      font-family: "AkiraExpanded";
      text-align: end;
      margin: auto;
    }
    .prelogin__img {
      position: absolute;
      z-index: -1;
      top: -56px;
      left: 46px;
    }
  }
  .prelogin__btnContainer {
    width: 120%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s linear;
    .prelogin__btn {
      width: 100%;
      height: 42px;
      font-family: "HelveticaNeue-Bold";
      background: white;
      color: black;
      outline: none;
      border: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background: #1045ff;
        color: white;
      }
    }
    .prelogin__already {
      margin-top: 25px;
      cursor: pointer;
      .prelogin__alreadyLight {
        font-family: "HelveticaNeue-Thin";
        font-weight: 200;
        letter-spacing: 0.8px;
      }
    }
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}
.invisible {
  visibility: hidden;
  opacity: 0;
}
.show {
  display: flex;
  opacity: 1;
}
.notShow {
  opacity: 0;
  display: none;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin-top: 158px;

    .login__title {
      font-family: "HelveticaNeue-Bold";
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 21px;
      align-self: flex-start;
    }
    .login__extras {
      padding: 5px 0;
      cursor: pointer;
      font-size: 16px;
      align-self: flex-start;
      font-family: "HelveticaNeue-Thin";
      .login__extrasSpan {
        font-family: "HelveticaNeue-Bold";
        padding-left: 5px;
        // color: white;
      }
    }
    .login__or {
      font-size: 14px;
      font-family: "HelveticaNeue-Bold";
      margin: 22px 0;
    }

    .login__notNow {
      font-weight: 600;
      font-size: 14px;
      font-family: "HelveticaNeue-Bold";
    }
  }
}
.googleBtn {
  position: relative;
  width: 180%;
  .googleBtn__label {
    position: absolute;
    top: 12px;
    left: calc(50% - 115px);
    .googleBtn__img {
      width: 22px;
    }
  }

  .googleBtn__btn {
    cursor: pointer;

    margin-bottom: 15px;

    width: 100%;

    font-family: "HelveticaNeue-Bold";
    font-weight: 700;
    font-size: 14px;
    height: 45px;
    background-color: white;
    color: black;
    border: none;
  }
}
.form {
  margin-top: 72px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form__containerInputs {
    width: 240px;
    .form__containerEmail {
      margin-bottom: 12px;
      position: relative;
      width: 100%;
      .form__inputEmail {
        width: 100%;
        height: 30px;
        background: #ffffff;
        border: 4px solid #ffffff;
        background-color: #fff;
        outline: #506cff;
        color: black;
        padding-left: 26px;
      }
    }
    .form__containerPass {
      width: 100%;
      margin-bottom: 12px;
      position: relative;
      .form__inputPass {
        width: 100%;
        height: 30px;
        background: #ffffff;
        border: 4px solid #ffffff;
        background-color: #fff;
        outline: #506cff;
        color: black;
        padding-left: 26px;
      }
      .form__PassIco {
        position: absolute;
        box-sizing: content-box;
        width: 24px;
        top: 0;
        right: -35px;
        padding: 4px;
      }
    }
    .form__containerRememberMe {
      align-self: flex-start;
      display: flex;
      align-items: center;
      .form__inputRememberMe {
        background-color: black;
      }
      .form__rememberMeLabel {
        padding-left: 7px;
        font-family: "HelveticaNeue-Thin";
        font-size: 14px;
      }
    }
  }
  .form__submit {
    width: 180%;
    cursor: pointer;
    margin-top: 18px;
    font-family: "HelveticaNeue-Bold";
    font-weight: 700;
    font-size: 14px;
    height: 45px;
    background: #ddff7c;
    color: black;
    border: none;
  }
}
.invalidForm,
.invalidEmail {
  display: block;
  margin-top: 5px;
  .invalidForm__text {
    color: rgb(253, 81, 81);
    margin-bottom: 5px;
  }
}
.invalidEmail {
  position: absolute;
  top: -22px;
  left: 0;
  margin-top: 0;
}
.success {
  flex-direction: column;
  align-items: center;
  transition: all 0.3s linear;
  .success__title {
    font-size: 32px;
    margin-bottom: 89px;
  }
  .success__container {
    width: 288px;
    height: 288px;
  }
}
@media (max-width: 380px) {
  .login {
    height: calc(100% - 56px);
    justify-content: space-between;
    .login__container {
      margin-top: 0px;
    }
  }
}
