.details {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 90px;
  overflow-x: hidden;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main__containerCover {
    width: 100%;
    height: 370px;
    padding: 0 40px;
    .main__cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      border-radius: 2px;
    }
  }
  .main__title {
    font-size: 32px;
    font-family: "HelveticaNeue-Bold";
    margin-top: 36px;
    margin-bottom: 19px;
  }
  .main__containerIcons {
    width: 300px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main__wrapperIcon {
      width: 46px;
      height: 46px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      .main__icon {
        height: 20px;
      }
      .main__icon--play {
        margin-left: 5px;
      }
    }
  }
  .main__containerDetails {
    width: 300px;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .main__wrapperDetail {
      width: 77px;
      .main__ValueDetail {
        text-align: center;
        border-bottom: solid white 1px;
        line-height: 22px;
      }
      .main__detail {
        line-height: 22px;
        font-family: "HelveticaNeue-Thin";
        font-size: 12px;
        text-align: center;
      }
      &:nth-child(2) {
        width: 115px;
      }
    }
  }
}
.section {
  width: 100%;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  // padding-left: 34px;
  // .header__headerIcon {
  //   margin-right: 10px;
  // }
  .header__headerTitle {
    font-size: 16px;
  }
}
.header__body {
  width: 100%;
  margin: 0 0 0 0px;
  .header__overview {
    font-size: 14px;
  }
}
.expansionPanel {
  width: 100%;
  background: black;
  .expansionPanel__header {
    padding: 0 24px 0 0;

    .expansionPanel__headerIcon {
      width: 20px;
      margin-right: 10px;
      transition: all 0.5s linear;
    }
    .expansionPanel__headerIcon--turnDown {
      transform: rotateZ(-180deg);
    }
    .expansionPanel__headerTitle {
      font-size: 16px;
      display: flex;
      align-items: center;
    }
    &:hover {
      background-color: #000000;
      border: black;
    }
  }

  .expansionPanel__body {
    width: 100%;
    margin: 0 0 0 6px;
    .expansionPanel__overview {
      font-size: 14px;
    }
  }

  .expansionPanel__body--season {
    margin-left: 30px;
  }
  .expansionPanel__body--reviews {
    padding: 7px 0 16px 0px;
  }
}
.containerSelect {
  position: relative;
  display: inline-flex;
  .containerSelect__label {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 10px;
    .containerSelect__img {
      width: 18px;
    }
  }
}
.select {
  position: relative;
  z-index: 5;
  font-size: 16px;
  padding: 8px 40px 8px 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:hover,
.select:focus {
  border-color: rgb(255, 255, 255);
}

.select .option {
  font-size: 16px !important;
  line-height: 16px;
  padding: 8px 24px;
  background-color: rgb(0, 0, 0);
}

.select:focus::-ms-value {
  /* estilo para Edge */
  background-color: rgb(0, 0, 0);
}

.select:focus {
  background-color: rgba(
    0,
    0,
    0,
    0.425
  ); /* establece el color de fondo para el panel abierto */
}
.expansionPanel--season {
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0px 16px 0;
  }
}
.expansionPanel__body--episode {
  margin: 0px !important;
}
.expansionPanel__headerContainer {
  padding: 4px 10px;
  border: solid white 1px;
  display: flex;
  border-radius: 2px;
  .expansionPanel__headerIcon {
    margin-left: 13px;
    margin-right: 0px !important;
  }
  .expansionPanel__headerTitle {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  &:hover {
    background-color: #161616a1;
    border: solid white 1px;
  }
}
.episode {
  display: flex;
  align-items: center;
  padding: 13px 0;
  border-bottom: solid white 1px;
  &:last-child {
    border-bottom: none;
  }
  .episode__img {
    width: 60px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
  }
  .episode__containerDetails {
    margin-left: 15px;
    .episode__name {
      font-family: "HelveticaNeue-Bold";
      margin-bottom: 11px;
    }
    .episode__detail {
      font-family: "HelveticaNeue-Thin";
    }
  }
}
.episode--inProduction {
  margin-top: 15px;
}
.review {
  width: 100%;
  border-bottom: solid white 1px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  &:last-child {
    border-bottom: none;
  }
  .review__containerTitle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;

    .review__title {
      font-size: 20px;
      font-family: "HelveticaNeue-Bold";
      text-align: center;
    }
  }
  .review__containerUserData {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
    .review__containerRank {
      align-self: flex-start;
      position: relative;
      display: flex;
      align-items: center;
      .review__starIcon {
        margin-right: 5px;
        margin-left: -3px;
      }
      .review__rank {
      }
    }
    .review__user,
    .review__date {
      font-family: "HelveticaNeue-Thin";
    }
  }
  .review__data {
    font-size: 14px;
  }
}
