.details {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 90px;
  overflow-x: hidden;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main__containerCover {
    width: 100%;
    height: 370px;
    padding: 0 40px;
    .main__cover {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;

      border-radius: 2px;
    }
  }
  .main__title {
    font-size: 32px;
    font-family: "HelveticaNeue-Bold";
    margin-top: 36px;
    margin-bottom: 19px;
  }
  .main__containerIcons {
    width: 100%;

    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    .main__wrapperIcon {
      width: 46px;
      height: 46px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      .main__icon {
        height: 20px;
      }
      .main__icon--play {
        margin-left: 5px;
      }
      &:active {
        background-color: #506cff;
        .main__icon {
          g {
            fill: white;
          }
          path {
            fill: white;
          }
        }
      }
    }
  }
  .main__containerDetails {
    width: 300px;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .main__wrapperDetail {
      width: 77px;
      .main__ValueDetail {
        text-align: center;
        border-bottom: solid white 1px;
        line-height: 22px;
      }
      .main__detail {
        line-height: 22px;
        font-family: "HelveticaNeue-Thin";
        font-size: 12px;
        text-align: center;
      }
      &:nth-child(2) {
        width: 115px;
      }
    }
  }
}
.section {
  width: 100%;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  // padding-left: 34px;
  // .header__headerIcon {
  //   margin-right: 10px;
  // }
  .header__headerTitle {
    font-size: 16px;
  }
}
.header__body {
  width: 100%;
  margin: 0 0 0 0px;
  .header__overview {
    font-size: 14px;
  }
}
.expansionPanel {
  width: 100%;
  background: black;
  .expansionPanel__header {
    padding: 0 24px 0 0;

    .expansionPanel__headerIcon {
      width: 20px;
      margin-right: 10px;
      transition: all 0.5s linear;
    }
    .expansionPanel__headerIcon--turnDown {
      transform: rotateZ(-180deg);
    }
    .expansionPanel__headerTitle {
      font-size: 16px;
      display: flex;
      align-items: center;
    }
    &:hover {
      background-color: #000000;
      border: black;
    }
  }

  .expansionPanel__body {
    width: 100%;
    margin: 0 0 0 6px;
    .expansionPanel__overview {
      font-size: 14px;
    }
  }

  .expansionPanel__body--season {
    margin-left: 30px;
  }
  .expansionPanel__body--reviews {
    padding: 7px 0 16px 0px;
  }
}
.containerSelect {
  position: relative;
  display: inline-flex;
  .containerSelect__label {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 10px;
    .containerSelect__img {
      width: 18px;
    }
  }
}
.select {
  position: relative;
  z-index: 5;
  font-size: 16px;
  padding: 8px 40px 8px 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:hover,
.select:focus {
  border-color: rgb(255, 255, 255);
}

.select .option {
  font-size: 16px !important;
  line-height: 16px;
  padding: 8px 24px;
  background-color: rgb(0, 0, 0);
}

.select:focus::-ms-value {
  /* estilo para Edge */
  background-color: rgb(0, 0, 0);
}

.select:focus {
  background-color: rgba(
    0,
    0,
    0,
    0.425
  ); /* establece el color de fondo para el panel abierto */
}
.expansionPanel--season {
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0px 16px 0;
  }
}
.expansionPanel__body--episode {
  margin: 0px !important;
}
.expansionPanel__headerContainer {
  padding: 4px 10px;
  border: solid white 1px;
  display: flex;
  border-radius: 2px;
  .expansionPanel__headerIcon {
    margin-left: 13px;
    margin-right: 0px !important;
  }
  .expansionPanel__headerTitle {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  &:hover {
    background-color: #161616a1;
    border: solid white 1px;
  }
}
.episode {
  display: flex;
  align-items: center;
  padding: 13px 0;
  border-bottom: solid white 1px;
  &:last-child {
    border-bottom: none;
  }
  .episode__img {
    width: 60px;
    height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 2px;
  }
  .episode__containerDetails {
    margin-left: 15px;
    .episode__name {
      font-family: "HelveticaNeue-Bold";
      margin-bottom: 11px;
    }
    .episode__detail {
      font-family: "HelveticaNeue-Thin";
    }
  }
}
.episode--inProduction {
  margin-top: 15px;
}
.review {
  width: 100%;
  border-bottom: solid white 1px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  &:last-child {
    border-bottom: none;
  }
  .review__containerTitle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;

    .review__title {
      font-size: 20px;
      font-family: "HelveticaNeue-Bold";
      text-align: center;
    }
  }
  .review__containerUserData {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
    .review__containerRank {
      align-self: flex-start;
      position: relative;
      display: flex;
      align-items: center;
      .review__starIcon {
        margin-right: 5px;
        margin-left: -3px;
      }
      .review__rank {
      }
    }
    .review__user,
    .review__date {
      font-family: "HelveticaNeue-Thin";
    }
  }
  .review__data {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .details {
    display: flex;
    padding: 150px 0 90px 40%;
    position: relative;
  }
  .main {
    width: 40%;
    height: calc(100vh - 150px);
    position: fixed;
    top: 150px;
    left: 0;
    padding: 0 115px 0 60px;
    .main__containerCover {
      width: 100%;
      height: 516px;
      padding: 0;
    }
    .main__containerIcons {
      margin-top: -25px;
      gap: 20px;
      .main__wrapperIcon {
        width: 46px;
        height: 46px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        .main__icon {
          height: 20px;
        }
        .main__icon--play {
          margin-left: 5px;
        }
      }
    }
    .main__containerDetails {
      width: 315px;
      margin-top: 10px;

      .main__wrapperDetail {
        width: 77px;
        .main__ValueDetail {
          font-size: 18px;
        }
        .main__detail {
          font-size: 16px;
        }
      }
    }
  }
  .header {
    .header__headerTitle {
      font-size: 20px;
    }
  }
  .header__body {
    .header__overview {
      font-size: 18px;
    }
  }
  .expansionPanel {
    .expansionPanel__header {
      .expansionPanel__headerIcon {
        width: 30px;
        margin-right: 20px;
      }
      .expansionPanel__headerTitle {
        font-size: 22px;
      }
    }

    .expansionPanel__body {
      margin-left: 26px;
      .expansionPanel__overview {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .expansionPanel__body--season {
      margin-left: 48px;
      border-top: solid 1px white;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
    }
    .expansionPanel__body--reviews {
      padding: 7px 0 16px 0px;
      border-top: solid 1px white;
      padding-top: 10px;
    }
  }
  .containerSelect {
    align-self: flex-end;
    margin-right: 56px;
    .select {
      width: 200px;
      font-size: 20px;
      .option {
        padding: 10px 0;
      }
    }
    .containerSelect__label {
      .containerSelect__img {
        width: 26px;
      }
    }
  }
  .episode {
    width: calc(100% - 48px);
    .episode__img {
      width: 120px;
      height: 150px;
    }
    .episode__containerDetails {
      margin-left: 25px;
      .episode__name {
        margin-top: 10px;
        font-size: 22px;
        margin-bottom: 11px;
      }
      .episode__detail {
        font-size: 20px;
        line-height: 26px;
      }
      .episode__detail--overview {
        display: block;
        margin: 10px 0;
      }
    }
  }
  .review {
    width: calc(100% - 48px);
    margin-bottom: 30px;
    padding-bottom: 30px;

    .review__containerTitle {
      .review__title {
        font-size: 22px;
      }
    }
    .review__containerUserData {
      margin: 5px 0 20px;
      display: flex;
      align-items: center;
      .review__containerRank {
        display: flex;
        align-items: center;
        .review__starIcon {
          box-sizing: content-box;
          width: 35px;
          height: 35px;
          margin-right: 5px;
          margin-left: -3px;
          padding-bottom: 5px;
        }
        .review__rank {
          font-size: 22px;
        }
      }
      .review__user,
      .review__date {
        font-size: 22px;
      }
    }
    .review__data {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
