.user {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 62px;
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 77%;
    height: 100%;
    max-height: 420px;
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
    transition: all 0.3s linear;
    .cover__img {
      width: 100%;
      max-height: 390px;

      -o-object-fit: cover;

      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
    .cover__linksContainer {
      margin: auto;
      display: flex;
      width: 100px;
      justify-content: space-between;
      position: absolute;
      bottom: 4px;
      transition: all 0.3s linear;
      .cover__link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: black;
        text-decoration: none;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        opacity: 1;
      }
      .cover__link--up {
        padding-bottom: 3px;
      }
    }
  }
  .cover--openSearch {
    max-height: 0;
    opacity: 0;
  }
}
.main__containerIcons {
  width: 100%;
  position: absolute;
  bottom: 5px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  .main__wrapperIcon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    .main__icon {
      height: 12px;
    }
    .main__icon--play {
      margin-left: 5px;
    }
    &:active {
      background-color: #506cff;
      .main__icon {
        g {
          fill: white;
        }
        path {
          fill: white;
        }
      }
    }
  }
  .main__wrapperIcon--active {
    background-color: #506cff;
    .main__icon {
      g {
        fill: white;
      }
      path {
        fill: white;
      }
    }
  }
}
.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 115px;
  gap: 13px;
  .gallery__notMatches {
    color: #9f9f9fc5;
  }
}

// --------LOADER-------------------
.loader {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  .loaderBalls {
    width: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      // .loaderBalls__wrapper__item
      $anim-drt: 0.4s;
      $anim-ease: cubic-bezier(0.6, 0.05, 0.15, 0.95);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #506cff;

      &:nth-child(1) {
        -webkit-animation: bouncing $anim-drt alternate infinite $anim-ease;
        animation: bouncing $anim-drt alternate infinite $anim-ease;
      }

      &:nth-child(2) {
        -webkit-animation: bouncing $anim-drt calc($anim-drt / 4) alternate
          infinite $anim-ease backwards;
        animation: bouncing $anim-drt calc($anim-drt / 4) alternate infinite
          $anim-ease backwards;
      }

      &:nth-child(3) {
        -webkit-animation: bouncing $anim-drt calc($anim-drt / 2) alternate
          infinite $anim-ease backwards;
        animation: bouncing $anim-drt calc($anim-drt / 2) alternate infinite
          $anim-ease backwards;
      }
    }
  }
}

@-webkit-keyframes bouncing {
  0% {
    transform: translate3d(0, 7px, 0) scale(1.2, 0.85);
  }

  100% {
    transform: translate3d(0, -5px, 0) scale(0.9, 1.1);
  }
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 7px, 0) scale(1.2, 0.85);
  }

  100% {
    transform: translate3d(0, -5px, 0) scale(0.9, 1.1);
  }
}
.show {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
.searcherContainer {
  display: none;
}
@media (min-width: 769px) {
  .user {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 150px;
    position: relative;
    .cover {
      position: fixed;
      top: 150px;
      left: 0;
      width: 40%;
      max-width: 450px;
      height: calc(100vh - 150px);
      max-height: calc(100vh - 150px);
      padding-bottom: 0;
      margin-right: 85px;
      .cover__img {
        width: 350px;
        height: 520px;
        max-height: 520px;
      }

      .cover__linksContainer {
        //no se para que es
        position: relative;
        bottom: 20px;
        margin: auto;

        display: flex;
        width: 100px;
        justify-content: space-between;

        .cover__link {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: black;
          text-decoration: none;
          width: 30px;
          height: 30px;
          background-color: white;
          border-radius: 50%;
          opacity: 1;
        }
        .cover__link--up {
          padding-bottom: 3px;
        }
      }
    }
    .cover--openSearch {
      max-height: 0;
      opacity: 0;
    }
  }

  .main__containerIcons {
    position: static;
    bottom: auto;
    margin-top: 10px;
    .main__wrapperIcon {
      width: 50px;
      height: 50px;

      .main__icon {
        height: 20px;
      }
      .main__icon--play {
        margin-left: 14px;
      }
    }
  }
  .gallery {
    width: 59%;

    margin-top: 0px;
    margin-bottom: 90px;
    gap: 20px;

    .gallery__notMatches {
      color: #9f9f9fc5;
    }
  }
  // ---------------SEARCHER--------------------
  .searcherContainer {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: 32px;
    border-bottom: solid white 1px;
    display: flex;
    justify-content: space-between;
    .searcherContainer__iconsContainer {
      width: 65px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .searcherContainer__icon {
        height: 31px;
      }
      .searcherContainer__icon--block {
        height: 20px;
        margin-top: 6px;
        margin-bottom: 5px;
      }
      .searcherContainer__icon--list {
        margin-top: 3px;
      }
    }
  }
  .searcher {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    max-width: calc(100% - 65px);
    height: 100%;
    background: #000;
    //   border: 1px solid #000000;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear;
  }

  .searcher__ico {
    width: 20px;
    background-color: #000;
    padding-bottom: 2px; /*se suma 2px al height y se le da un padding bottom de 2px para corregir alineacion, mas centrada con respecto al input*/

    margin-right: 16px;
    cursor: pointer;
  }
  .searcher__containerInput {
    position: relative;
    width: calc(100% - 37px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .searcher__input {
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 20px;

    background-color: transparent;
    color: white;
    border: 0;
    outline: none;
  }

  .searcher__input:-webkit-autofill,
  .searcher__input:-webkit-autofill:hover,
  .searcher__input:-webkit-autofill:focus,
  .searcher__input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #0f1627 inset !important;
  }
  .searcher__input:-webkit-autofill {
    -webkit-text-fill-color: #000000 !important;
  }
}
@media (min-width: 769px) and (max-height: 780px) {
  .main {
    .main__containerCover {
      height: 355px;
    }
  }
  .user {
    .cover {
      .cover__img {
        width: 260px;
        height: 355px;
      }
    }
  }
}
