<div class="navbar">
  <a class="linkTool linkTool--active">
    <img
      class="linkTool__img"
      src="../../../../../assets/icons/home.svg"
      alt="home"
    />
  </a>
  <a class="linkTool">
    <img
      class="linkTool__img"
      src="../../../../../assets/icons/settings.svg"
      alt="home"
    />
  </a>
  <a class="linkTool"
    ><img
      class="linkTool__img--list"
      src="../../../../../assets/icons/list.svg"
      alt="home"
  /></a>
  <a class="linkTool"
    ><img
      class="linkTool__img--activity"
      src="../../../../../assets/icons/activity.svg"
      alt="home"
  /></a>
  <a class="linkTool"
    ><img
      class="linkTool__img--profile"
      src="../../../../../assets/icons/profile.svg"
      alt="home"
  /></a>
</div>
