.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  .linkTool {
    text-decoration: none;
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0, 3s ease;
    .linkTool__img {
      width: 38px;
      margin-right: 1px;
    }
    .linkTool__img--list {
      margin-right: 15px;
      width: 40px;
    }
    .linkTool__img--activity {
      width: 74px;
    }
    .linkTool__img--profile {
      height: 32px;
      align-self: flex-end;
    }
  }
  .linkTool--active {
    background-color: #ddff7c;
  }
}
